@font-face {
  font-family: 'FontAwesome';
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}




/* Printing styles */

@media print {

	hr:nth-of-type(1) {
		margin-bottom: 100px;
	}

	h2 {
		page-break-before: always;
	}

	h2:nth-of-type(1), h2:nth-of-type(2) {
		page-break-before: avoid;
	}

	dt, dd {
		page-break-before: auto;
	}

}


/* General */


body {
	width: 640px;
	margin: 0 auto;
	background-color: #fff;
	font-family: Georgia;
	color: #444;
	position: relative;
}

h1 {
	font-size: 38px;
	text-transform: uppercase;
}

h2 {
	font: 700 18px "Open Sans",sans-serif;
	text-transform: uppercase;
	border-bottom: 3px solid #11ABB0;
	padding-bottom: 6px;
}

hr {
  background: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.4em;
  border: none;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.caption {
	display: none;
}

ul {
	padding-left: 25px;
}





/* Header list with personal info */

h2:nth-of-type(1) {
	margin-top: -30px;
	font-style: italic;
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.figure:nth-of-type(1) img {
	position: absolute;
	top: 25px;
	right: 5px;
	border: 5px solid #C7A0A4;
	border-radius: 100%;
}


body > ul:nth-of-type(1) li {
	list-style: none;
	padding-bottom: 5px;
}

body > ul:nth-of-type(1) li:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* GitHub */
body > ul:nth-of-type(1) li:nth-of-type(1):before {
  content: "\f09b";
}

/* Mail */
body > ul:nth-of-type(1) li:nth-of-type(2):before {
  content: "\f0e0";
}

/* Birthday */
body > ul:nth-of-type(1) li:nth-of-type(3):before {
  content: "\f1fd";
}

/* Address */
body > ul:nth-of-type(1) li:nth-of-type(4):before {
  content: "\f015";
}

/* Phone */
body > ul:nth-of-type(1) li:nth-of-type(5):before {
  content: "\f095";
}





/* Education timeline */

dl:nth-of-type(1),
dl:nth-of-type(2),
dl:nth-of-type(3)
{
	position: relative;
}

dl:nth-of-type(1) dt,
dl:nth-of-type(2) dt,
dl:nth-of-type(3) dt
{
	background: none repeat scroll 0 0 #ed5565;
	box-shadow: 0 0 0 0 #11abb0 inset;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 55px;
	padding: 8px 15px;
}

dl:nth-of-type(1) dt:before,
dl:nth-of-type(2) dt:before,
dl:nth-of-type(3) dt:before
{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "\f19c";
	position: absolute;
	left: 25px;
	color: #000;
	background: #fff;
	padding: 10px 0 5px 0;
	margin-top: -10px;
}

dl:nth-of-type(1) dt:before {
	content: "\f19c";
}

dl:nth-of-type(2) dt:before {
	content: "\f1b0";
}

dl:nth-of-type(3) dt:before {
	content: "\f0b1";
}

dl:nth-of-type(1):before,
dl:nth-of-type(2):before,
dl:nth-of-type(3):before
{
	background: #11abb0;
	content: '';
	margin-left: -1px;
	position: absolute;
	top: 0;
	left: 32px;
	width: 2px;
	height: 100%;
}

dl:nth-of-type(1) dd,
dl:nth-of-type(2) dd,
dl:nth-of-type(3) dd
{
	margin-bottom: 55px;
	margin-left: 55px;
}



dl:last-of-type dt {
	color: #ed5565;
	font-weight: bold;
}






